body {
  background-color: lightblue;
	font-family:  "Fahkwang", sans-serif;
	padding:20px 0px 0px 0px;
  z-index: 0;
}  
	
	
h1, h2, h3, h4, h5, h6 {
	font-family: "Fahkwang", "Audiowide", "Sofia", sans-serif;
	}
	
.h11 {
    position: relative;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }

footer {
	font-family:  "Lato", "Audiowide", "Sofia", sans-serif;
  margin: 15px auto;
  padding: 20px 0px 20px 0px;
}

img { 
  width: 100%;
  height: auto;  
} 

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


.nav-tabs {
  padding:30px 30px 70px 30px;

}
.nav-img {
	height :auto;
	width:5%
}

.nav-txt {
	width : 80%;
	height: auto; 
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom : 40px;
}

.right {
	display: block;
	float: right;
	margin-bottom : 40px;
}
.left {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 25%;
  margin-bottom : 40px;
}
.jumbotron {
  margin: 0px auto;
  padding: 80px 20px;
  color: #130F40; }


.nav-link {
	color : #1E3C52;
}
	
.navbar-brand{
max-width: 18%;  
height: auto;  
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
